## 1 - Setup Environment

Dirst we should import the most important libraries.

In [2]:
import numpy as np
import pandas as pd
import pickle

<hr>

## 2 - Load Dataset

then we import the dataset, and we should make sure about the file directory.

In [3]:
dataset = pd.read_csv('../Assets/dataset.csv')
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,373450,8.0500,NaN,S

<hr>

## 3 - Data Eyebaling

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   int64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1307 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

we have some null values in Age, Fare, Cabin and Embarked

<hr>

## 4 - Make a Copy

to reserve the original dataset, first we should make a copy

In [6]:
df = dataset.copy()

<hr>

## 5 - Duplicate Rows

in this step, we should make sure there is not full duplicated rows as weel as there is no two similar rows.

In [7]:
df.shape

(1309, 11)

In [8]:
mask = df.duplicated(subset='PassengerId')
df = df[~(mask & df['PassengerId'].duplicated())]

Let's check to see if there could be some rows that are similar in all variables or not, except project id

In [9]:
df.shape

(1309, 11)

the result shows we didn't have any duplicated rows.

<hr>

## 6 - Change Order

To have better view on data and variable, let's change their orders. Let's find all variables' name:

In [10]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

now, we change the order based on their data type:

In [11]:
order = [
    #string
    'PassengerId', 'Name', 'Ticket', 
    #numerical
    'Age', 'Parch', 'Fare', 
    #categorical ordinal
    'Pclass', 
    #categorical nominal
    'Sex', 'Cabin', 'Embarked' , 'Survived']

df = df[order]

df.head()

,PassengerId,Name,Ticket,Age,Parch,Fare,Pclass,Sex,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",A/5 21171,22.0,0,7.2500,3,male,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,38.0,0,71.2833,1,female,C85,C,1
2,3,"Heikkinen, Miss. Laina",STON/O2. 3101282,26.0,0,7.9250,3,female,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,35.0,0,53.1000,1,female,C123,S,1
4,5,"Allen, Mr. William Henry",373450,35.0,0,8.0500,3,male,NaN,S,0

<hr>

## Check Point

In [12]:
with open('../Assets/Version 1-1.pickle', 'wb') as file:
    pickle.dump(df, file)