## 1 - SetUp Environment

In [2]:
import numpy as np
import pandas as pd
import pickle

<hr>

## 2 - Load Dataframe

In [3]:
with open('../Assets/Version 1-1.pickle', 'rb') as file:
    df = pickle.load(file)

df.head()

,PassengerId,Name,Ticket,Age,Parch,Fare,Pclass,Sex,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",A/5 21171,22.0,0,7.2500,3,male,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,38.0,0,71.2833,1,female,C85,C,1
2,3,"Heikkinen, Miss. Laina",STON/O2. 3101282,26.0,0,7.9250,3,female,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,35.0,0,53.1000,1,female,C123,S,1
4,5,"Allen, Mr. William Henry",373450,35.0,0,8.0500,3,male,NaN,S,0

<hr>

## 3 - Declare Variable

In this section, I work on just numerical variables and I try to clean and preprocess them</br>
<li> Age
<li> Parch
<li> Fare

In [4]:
numerical_list = ['Age', 'Parch', 'Fare']

<hr>

## 4 - Data Type Conversion

the first thing that should be check is that we must make sure about data type of the numerical variable. Just because the column show numbers, it doesn't mean that they are integer.So, we should change them to integer. So, now we know, they have some charachters that made them as object or string instead of number. Thus, with regular expression we should clean them.

In [5]:
def non_numeric(x):
    non_numeric_df = pd.DataFrame(df[df[x].astype(str).str.contains('[^0-9]+')])
    return non_numeric_df

>### 4.1 - "Age"

In [6]:
non_numeric('Age')
df['Age'].sum()

31255.67

The result shows in this variable there is no value that is not-number

>### 4.2 - "Parch"

In [7]:
non_numeric('Parch')
df['Parch'].sum()

504

The result shows in this variable there is no value that is not-number

>### 4.3 - "Fare"

In [8]:
non_numeric('Fare')
df['Fare'].sum()

43550.4869

The result shows in this variable there is no value that is not-number

<hr>

## 5 - Handle Null Values

we must make sure whether we have null values in these variables or not.

In [9]:
def null_checker():
    for i in range(len(numerical_list)):
        print(numerical_list[i] , ':' , df.loc[df[numerical_list[i]].isnull()].index)

Then we run the function for all numerical variables

In [10]:
null_checker()

Age : Int64Index([   5,   17,   19,   26,   28,   29,   31,   32,   36,   42,
            ...
            1256, 1257, 1271, 1273, 1275, 1299, 1301, 1304, 1307, 1308],
           dtype='int64', length=263)
Parch : Int64Index([], dtype='int64')
Fare : Int64Index([1043], dtype='int64')

the result shows we have null values in <b>"Age" , "Fare"</b>.first we should make sure whether the number of missing values of each variable, are less then 5% of whole data or more.

In [11]:
for i in range(len(numerical_list)):
    count_nan = df[numerical_list[i]].isna().sum()
    print(numerical_list[i] , ':' , round((count_nan / df.shape[0]) * 100, 3) , '%')

Age : 20.092 %
Parch : 0.0 %
Fare : 0.076 %

>### 5.1 - Drop Null

Since the percentage of <b>"Fare"</b> is less than 5%, we can drop null value

In [12]:
print("the dimension before removing null: " , df.shape)
df = df.dropna(subset=['Fare'])
print("the dimension after removing null: " , df.shape)

the dimension before removing null:  (1309, 11)
the dimension after removing null:  (1308, 11)

now again we can check the statuse of null values:

In [13]:
null_checker()

Age : Int64Index([   5,   17,   19,   26,   28,   29,   31,   32,   36,   42,
            ...
            1256, 1257, 1271, 1273, 1275, 1299, 1301, 1304, 1307, 1308],
           dtype='int64', length=263)
Parch : Int64Index([], dtype='int64')
Fare : Int64Index([], dtype='int64')

>### 5.2 - Impute Null

Since the percentage of <b>"Age"</b> is more than 5%, we should impute it

In [14]:
print('Skewness :' , round(df['Age'].skew() ,3))

mean = df['Age'].mean()
median = df['Age'].median()

if mean > median:
    print('Mean is bigger than Median. Right Skewed. Median for imputing')
else:
    print('Mean is smaller than Median. Left Skewed. Mean for imputing')

Skewness : 0.407
Mean is bigger than Median. Right Skewed. Median for imputing

In [15]:
df['Age'] = df['Age'].fillna(median).round(0)

now check the number of null values:

In [16]:
null_checker()

Age : Int64Index([], dtype='int64')
Parch : Int64Index([], dtype='int64')
Fare : Int64Index([], dtype='int64')

<hr>

## 6 - Possible Range

For numerical variables, there is no specific range.

<hr>

## Check Point

In [18]:
with open('../Assets/Version 1-2.pickle', 'wb') as file:
    pickle.dump(df, file)