## 1 - SetUp Environment

In [1]:
import numpy as np
import pandas as pd
import pickle

<hr>

## 2 - Load Dataframe

In [2]:
with open('../Assets/Version 1-2.pickle', 'rb') as file:
    df = pickle.load(file)

df.head()

,PassengerId,Name,Ticket,Age,Parch,Fare,Pclass,Sex,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",A/5 21171,22.0,0,7.2500,3,male,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,38.0,0,71.2833,1,female,C85,C,1
2,3,"Heikkinen, Miss. Laina",STON/O2. 3101282,26.0,0,7.9250,3,female,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,35.0,0,53.1000,1,female,C123,S,1
4,5,"Allen, Mr. William Henry",373450,35.0,0,8.0500,3,male,NaN,S,0

<hr>

## 3 - Declare Variable

In this section, I work on just number categorical variables:</br>
<li> Pclass
<li> Survived

In [3]:
CatNum_list = ['Pclass' , 'Survived']

<hr>

## 4 - Data Type Conversion

the first thing that should be check is that we must make sure about data type. Just because the column show numbers, it doesn't mean that they are integer.

In [4]:
def non_numeric(x):
    non_numeric_df = pd.DataFrame(df[df[x].astype(str).str.contains('[^0-9]+')])
    return non_numeric_df

> ### 4.1 - Pclass

In [5]:
non_numeric('Pclass')
df['Pclass'].sum()

3001

The result shows all categories in this variable are number.

> ### 4.2 - Survived

In [6]:
non_numeric('Survived')
df['Survived'].sum()

494

The result shows all categories in this variable are number

<hr>

## 5 - Handle Null Values

we must make sure whether we have null values in these variables or not.

In [8]:
def null_checker():
    for i in range(len(CatNum_list)):
        print(CatNum_list[i] , ':' , df.loc[df[CatNum_list[i]].isnull()].index)

Then we run the function for variables

In [9]:
null_checker()

Pclass : Int64Index([], dtype='int64')
Survived : Int64Index([], dtype='int64')

We don't have any null values.

<hr>

## 6 - Possible Range

Based on data documentation, the <b>"Pclass"</b> should be 1,2 or 3, and <b>"Survived"</b> should be 0 or 1.

In [10]:
print('Range:', sorted(df['Pclass'].unique()))
print('\n')
print(df['Pclass'].value_counts())

Range: [1, 2, 3]


3    708
1    323
2    277
Name: Pclass, dtype: int64

In [11]:
print('Range:', sorted(df['Survived'].unique()))
print('\n')
print(df['Survived'].value_counts())

Range: [0, 1]


0    814
1    494
Name: Survived, dtype: int64

<hr>

## Check Point

In [12]:
with open('../Assets/Version 1-3.pickle', 'wb') as file:
    pickle.dump(df, file)